html
	body
		ul
			each u in users
				li
					dl
						dt
							| User ID:
						dd
							=u.userId
						dt
							| User given number:
						dd
							=u.userNumber
						dt
							| Verify code:
						dd
							=u.salt
